{% extends "base.html" %}

{% block title %}Объявления{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="my-4">Объявления</h1>
        <form method="POST" action="{{ url_for('announcements') }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.content.label(class="form-control-label") }}
                {{ form.content(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.group_ids.label(class="form-control-label") }}
                {{ form.group_ids(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-success") }}
            </div>
        </form>
        <h2>Мои объявления</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Сообщение</th>
                    <th>Дата</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for message in messages %}
                    <tr>
                        <td>{{ message.content }}</td>
                        <td>{{ message.date_created.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                        <td>
                            <a href="{{ url_for('delete_message', message_id=message.id) }}" class="btn btn-danger">Удалить</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
