{% extends "base.html" %}

{% block title %}Оценивание{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="my-4">Оценивание</h1>
        <div class="list-group">
            {% for subject in subjects %}
                <a href="{{ url_for('select_group', subject_id=subject.id) }}" class="list-group-item list-group-item-action">
                    {{ subject.name }}
                </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
