{% extends "base.html" %}

{% block title %}Управление кафедрами{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="my-4">Управление кафедрами</h1>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}
                {{ form.name(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.faculty_id.label(class="form-control-label") }}
                {{ form.faculty_id(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Название кафедры</th>
                    <th>Факультет</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for department in departments %}
                    <tr>
                        <td>{{ department.id }}</td>
                        <td>{{ department.name }}</td>
                        <td>{{ department.faculty.name }}</td>
                        <td>
                            <a href="{{ url_for('delete_department', department_id=department.id) }}" class="btn btn-danger btn-sm">Удалить</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
